{% extends "index.html" %}
{% block title %} User Information {% endblock %}

{% block content %}
    <div class="container">
        <div class="row row-cols-2">

            <div class="col-sm-12">
                <center><h2> Searched Song</h2> 
                <iframe src={{ "https://open.spotify.com/embed/track/" + found }} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">test</iframe>
                </hr></br>
                <h1> Similar Songs Based on your Search</h1></center></div>
    {% for x,y in Recommendation %}
     <div class="col-sm">
         <p>{{y}}</p>
            <iframe src={{ "https://open.spotify.com/embed/track/" + x }} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">TEST</iframe>
    </div>
    {% endfor %}  
    </div>
</div>
{% endblock content %}