{% extends "index.html"%}
{% block title %} User Info {% endblock %}

{% block content %}

<form action= "#" method = "post">
    
    <p> Enter Name:</p>
    <p><input type = "text" name = "name"/></p>  
    
    
    <input type="radio" name="gender" value='Male'> Male <br/>
    <input type="radio" name="gender" value='Female'> Female <br/>
    <input type="radio" name="gender" value='Other'> Other <br/>


    <p> Enter Favorite Genre </p>
    <input type="checkbox" name="artist" value='The Weeknd'> The Weeknd <br/>
    <input type="checkbox" name="artist" value='Post Malone'> Post Malone <br/>
    <input type="checkbox" name="artist" value='Justin Bieber'> Justin Bieber <br/>
    <input type="checkbox" name="artist" value='Eminem'> Eminem <br/>
    <input type="checkbox" name="artist" value='Taylor Swift'> Taylor Swift <br/>
    <input type="checkbox" name="artist" value='J Balvin'> J Balvin <br/>
    <input type="checkbox" name="artist" value='BTS'> BTS <br/>
    <input type="checkbox" name="artist" value='Kanye West'> Kanye West <br/>
    <input type="checkbox" name="artist" value='Ozuna'> Ozuna <br/>
    <input type="checkbox" name="artist" value='Khalid'> Khalid <br/>
    <input type="checkbox" name="artist" value='XXXTENTACION'> XXXTENTACION <br/>
    <input type="checkbox" name="artist" value='Juice WRLD'> Juice WRLD<br/>
    <input type="checkbox" name="artist" value='Rihanna'> Rihanna <br/>
    <input type="checkbox" name="artist" value='Travis Scott'> Travis Scott <br/>
    <p></p>
    <p> Enter favorite Artist </p>
    <input type="checkbox" name="genre" value='dance_pop'> dance_pop  <br/>
    <input type="checkbox" name="genre" value='edm'>  edm <br/>
    <input type="checkbox" name="genre" value='dutch_edm'> dutch_edm  <br/>
    <input type="checkbox" name="genre" value='pop'> pop  <br/>
    <input type="checkbox" name="genre" value='metal'> metal  <br/>
    <input type="checkbox" name="genre" value='rock'> rock  <br/>
    <input type="checkbox" name="genre" value='90s'> 90s  <br/>
    <input type="submit" value="Submit">
    
</form>
   
{% endblock content %}