{% extends "index.html"%}
{% block title %} Log In {% endblock %}

{% block content %}

<form action= "#" method = "post">
    <div class="container">
        <h1>Please login</h1>
        <br>
          <input type="text" placeholder="email" name="Email" value="">
           <input type="password" placeholder="Password" name="password" value="">
          <input class="btn btn-default" type="submit" value="Login">
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
      </div>
</form>
   
{% endblock content %}