{% extends "index.html" %}
{% block title %} Search {% endblock %}

{% block content %}

<h1><center> Based on Profile </center></h1>

<div class="container">
    <div class="row row-cols-2">
     {% for x in temp %}
         {% for y in x %} 
         <div class="col-sm">
           
            <center>
                <iframe class="widget" src={{ y }} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">test</iframe></center>
                </hr></br>
            </div>
        {% endfor %}    
     {% endfor %} 

    </div>
</div>
     
{% endblock content %}