{% extends "index.html" %}
{% block title %} Search {% endblock %}

{% block content %}
<p1></p1>
<center> Based on Artist </center>
<p1></p1>
<div class="container">
    <div class="row row-cols-2">
     {% for x in temp %}
         {% for y in x %}
         
         <div class="col-sm">
            <div class="card" style="border: 2px solid #07bc4c"></div>
             
            <center>
                <iframe class="widget" src={{ "https://open.spotify.com/embed/track/" + y }} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">test</iframe></center>
                <div class="container">
                    <center><label for="id-of-input" class="custom-checkbox">
                        <button class="btn btn-outline-success" name="favourite" value={{x}}>Favourite</button>    
                    </label></center>
            </div> </div>
        {% endfor %}    
     {% endfor %} 

    </div>
</div>
     
{% endblock content %}