{% extends "base.html" %}
{% block title %} Search {% endblock %}

{% block content %}

   

  
<form action="#" method= "POST">
    <center> Search a song :</center>
    <center><input type = "text" name = "search"/></center>
    <center><input type = "submit" value = "search"/></center>    
</form>

<p1></p1>
<center> Based on Artist </center>
<p1></p1>
     {% for x in temp %}
         {% for y in x %} 
             <center></center>
             <center>{{y}}</center>
         {% endfor %}    
     {% endfor %} 

    
{% endblock content %}