{% extends "index.html" %}
{% block title %} SONG {% endblock %}

{% block content %}

<p1></p1>
<center> Search Based on Song </center>
<p1></p1>
<div class="container">
        <form class="d-flex" action="#" method="POST">
            <input class="form-control me-2" type="text" placeholder="Search Song" aria-label="search" name="search">
            <button class="btn btn-outline-success" type="submit" value="search" name="song">Discover</button>
          </form>
</div>
     

{% endblock content %}
